.nav {
  display: flex;
  list-style: none;
  gap: 20px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

li {
  text-decoration: none;
  color: antiquewhite;
}
/* for phone */
.nav li a {
  color: aliceblue;
  text-decoration: none;

}


.navM li{

margin-top:20%;
color: black;
}

.navM li a{
  text-decoration: none;
  color: black;
  font: 1rem sans-serif;

}

